body {
  background-color: #0d2323;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  -webkit-box-reflect: below linear-gradient(#0001, #0004);
}

.carga {
  width: 200px;
  height: 200px;
  background-color: #0d2323;
  border-radius: 50%;
  position: relative;
  animation: julian 2s linear infinite;
}

@keyframes julian {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.carga::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, rgba(0, 255, 249, 0.5));
  border-top-left-radius: 100px;
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
}

.carga::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00fff9;
  box-shadow:
    0 0 10px #00fff9,
    0 0 20px #00fff9,
    0 0 30px #00fff9,
    0 0 40px #00fff9,
    0 0 50px #00fff9,
    0 0 60px #00fff9,
    0 0 70px #00fff9,
    0 0 80px #00fff9,
    0 0 90px #00fff9,
    0 0 100px #00fff9;
  z-index: 10;
}

.carga span {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #102626;
  border-radius: 50%;
}
